.add {
  border-radius: 10px;
  margin: 10px ;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  background: white;
  align-items: center;
  color:black;
}
