.add {
  margin: 60px ;
  height:240px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  background: white;
  align-items: center;
  color:black;
}
.dateTimeWeeklocation{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}