.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.search-bar {
  width: 10em;
  display: inline-block;
  vertical-align: middle;
}
.logo {
  width: 80px;
}

.container {
  margin-top: 1em;
}
.list-item {
  position: relative;
  display: block;
  padding: 0.5em 0;
}
.navbar-section {
  margin: 1em auto 2em auto;
  height: 100px;
}
.margin-button {
  margin: 2px;
}
.margin {
  margin: auto 0 auto 0;
}
.padding {
  padding: 0 20px;
}
li {
  list-style: none;
}
.title {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
.App-link {
  color: #61dafb;
}
.week-time {
  display: flex;
  border: 5px solid greenyellow;
}
.week-time p {
  margin: 0;
}
.week {
  border-left: 5px solid greenyellow;
  display: flex;
  border: 5px solid red;
  padding: 5px;
  margin: 5px;
}
.buttons {
  display: flex;
  flex-direction: column;
  border: 5px solid greenyellow;
}
.buttons button {
  margin: 5px;
  padding: 15px;
}
.teachingDetails {
  margin-left: 20px;
  border-left: 2px solid red;
  width: 20%;
}
.teachingDetails label {
  margin-left: 15px;
  width: 40px;
}
.break {
  border: 5px solid blue;
  width: 100%;
  margin: 15px;
}
.holiday {
  background-color: gray;
  width: 100%;
  text-align: center;
}
.edit-button {
  margin-left: 90%;
  padding: 20px;
}
.class-number {
  padding: 200px 500px;
  background-color: paleturquoise;
  color: black;
  margin: 50px;
}
.table-container {
  display: flex;
  flex-direction: column;
}
