* {
  font-family: "Lato", sans-serif;
  background-color: #f8f9fa;
}
.time-table {
  border-right: 1px solid lightslategrey;
}
.signUpTitle {
  margin-bottom: 3rem;
}
.help {
  color: red;
}
.signUp {
  margin-bottom: 0.5rem;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.week-date-time {
  padding-left: 0;
}
.search-bar {
  width: 10em;
  display: inline-block;
  vertical-align: middle;
}
.container {
  margin-top: 1rem;
}
.list-item {
  position: relative;
  display: block;
  padding: 0.5rem 0;
}
.navbar-section {
  margin: 1rem auto 2rem auto;
  height: 100px;
}
.margin-button {
  margin: 0.15rem;
}
.margin {
  margin: auto 0 auto 0;
}
.padding {
  padding: 0 2rem;
}
li {
  list-style: none;
}
.title {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.week-time {
  display: flex;
  border: 5px solid greenyellow;
}
.week-time p {
  margin: 0;
}
.week {
  border-left: 5px solid greenyellow;
  display: flex;
  border: 5px solid red;
}
.buttons {
  display: flex;
  flex-direction: column;
  border: 5px solid greenyellow;
}
.teachingDetails {
  border-left: 2px solid red;
  width: 20%;
}
