.week-container {
  justify-content: center;
  background-color: white;
  display: flex;
  /* width: 90%; */
  flex-direction: column;
  border: 1px solid rgb(136, 131, 131);
  /* padding: 5px; */
  /* margin: auto; */
}

/* navigation section */
.navbar {
  margin: 0px auto 60px;
  background-color: beige;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.search-bar {
  width: 650px;
  height: 40px;
}
.logo {
  width: 80px;
}

/* week-time-location*/
.week-time-location {
  /* margin-top: 100px; */
  width: 50em;
  height: 30%;
  /* background-color: beige; */
  color: black;
  /* padding:15px 60%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid rgb(18, 19, 17); */
}
.location-date-time {
  margin-top: 5px;
  margin-right: 45px;
}
.location-date-time p {
  font-size: 15px;
  font-weight: 500;
}
.week-1 h1 {
  font-size: 40px;
  font-weight: 650;
}
/* Subject container   */
.subject-container {
  /* width: 65%; */
  height: 70%;
  /* background-color: beige; */
  color: black;
  
  /* border: 2px solid #121311; */
}
.subject h1 {
  margin-left: 50px;
  font-size: 25px;
  font-weight: 650;
}
.details-signup-buttons {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}
/*week-time-location and Teachers section       */

.week-teachers {

  display: flex;
  border:2px solid red;
  background-color: beige;
  margin: auto;
}
.teacher-details {
    /* background-color:beige; */
  color: black;
  /* width:200px; */
  margin-top: 0;
  /* border: 2px solid #121311; */
  /* width: 80%; */
  height:100%;
}
