.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
.week-time {
  display: flex;
  border: 5px solid greenyellow;
}
.week-time p {
  margin: 0;
}
.week {
  border-left: 5px solid greenyellow;
  display: flex;
  border: 5px solid red;
  padding: 5px;
  margin: 5px;
}
.buttons {
  display: flex;
  flex-direction: column;
  border: 5px solid greenyellow;
}
.buttons button {
  margin: 5px;
  padding: 15px;
}
.teachingDetails {
  margin-left: 20px;
  border-left: 2px solid red;
  width: 20%;
}
.teachingDetails label {
  margin-left: 15px;
  width: 40px;
}
.break {
  border: 5px solid blue;
  width: 100%;
  margin: 15px;
}
.holiday {
  background-color: gray;
  width: 100%;
  text-align: center;
}
.edit-button {
  margin-left: 90%;
  padding: 20px;
}
.class-number {
  padding: 200px 500px;
  background-color: paleturquoise;
  color: black;
  margin: 50px;
}
/*navigation section             */
.navbar {
  margin-bottom: 80px;
  background-color: aliceblue;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.search-bar {
  width: 450px;
  height: 40px;
}
.logo {
  width: 100px;
}
/*week-time-location section             */
.week-time-location {
  margin-top: 100px;
  width: 65%;
  height: 120px;
  background-color: aliceblue;
  color: black;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid rgb(18, 19, 17);
}
.location-date-time {
  margin-right: 45px;
}
.location-date-time p {
  font-size: 15px;
  font-weight: 500;
}
.week-1 h1 {
  font-size: 40px;
  font-weight: 650;
}
