.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}
.week-time {
  display: flex;
  border: 5px solid greenyellow;
}
.week-time p {
  margin: 0;
}
.week {
  border-left: 5px solid greenyellow;
  max-width: 40%;
  display: flex;
}
.buttons {
  display: flex;
  flex-direction: column;
  border: 5px solid greenyellow;
}
.buttons button {
  margin: 5px;
  padding: 15px;
}
.teachingDetails {
  margin-left: 5em;
  border-left: 2px solid red;
  display: flex;
  flex-direction: column;
}
.teachingDetails label {
  margin-left: 15px;
  width: 40px;
}
.break {
  border: 5px solid blue;
  width: 100%;
  margin: 15px;
}
